/* .mybooks-container {

} */

.mybooks-container h1 {
	margin-bottom: 100px;
}
.card-deck{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 10px;
	margin: 0 auto;
}
.mybooks-container .card-deck {
	margin-bottom: 30px;
}

