@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
.App {
  text-align: center;
  background-color: #FCF2EA;
  margin: 0;
  padding: 0;
  color: rgb(66, 66, 66);

}
h1, h2, h3 {
  font-family: 'Overlock SC', cursive;
  color: rgb(66, 66, 66);
  margin-top: 30px;
}
/* .btn-primary {
  background-color:#FFB2B7 !important;
  border-color: #FFB2B7  !important;
  color:  rgb(66, 66, 66) !important;
}
.btn-primary :hover {
  background-color:#ad4149 !important;
  border-color: #853136  !important;
  color:  rgb(66, 66, 66) !important;
} */